
h2 {
    font-size: 36px;
    font-weight: bold;
    color:darkslategray;
    margin: 24px 0;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color:darkslategray;
    margin: 8px 0;
}

p {
    font-size: 22px;
    color: lightslategray;
    margin: 8px 0;


}

a {
    font-size: 20px;
    color:darkslategray;
}

/* Header*/

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:64px;
    position: fixed;
    top:0;
    width:100%;
    background-color: white;
}

.logo {
    display:flex;
    align-items: center;
    height:32px;
    margin-left: 24px;
}

.logo p {
    font-size: 32px;
    color:darkslategray;
}

.logo span {
color:gray;
}

.nav {
    display:flex;
    list-style-type: none;
    margin-right:24px;
}

.nav li {
    margin: auto 16px;
    font-size: 22px;
}

/* Main content*/

.main-content {
    margin-top: 64px;
}

/* Banner*/

.banner {
    display:flex;
    flex-wrap:wrap;
    background-color:lightgray;
    padding: 32px 24px;
}

.banner-image {
    width:60%;
    margin-right:24px;
}

.banner-image img {
    width:100%;
}

.banner-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text p {
    color:darkslategray;
    font-weight: bold;
    font-size:26px;
}

.button {
    color:white;
    font-weight: bold;
    background-color: darkslategray;
    text-align: center;
    padding: 8px;
    margin:10px 0;
}

/* Information section */

.information {
    display:flex;
}

.information-left {
    display:flex;
    flex-direction: column;
    width:60%;
    margin: 32px 24px;
}

.information-left-image {
    display:flex;
    flex-direction: column;
}

.information-left-text {
    display: flex;
    flex-direction: column;
}

.information-left-text h2 {
    margin-top:32px;
}

.information-right {
    width:40%;
    margin-top: 16px;
    margin-bottom:16px;
    margin-right:32px;
}

.information-bloc {
    display: flex;
    padding:16px;
}

.information-bloc-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:65%;
    padding:16px;
}

.information-bloc-image {
    width:35%;
}

.information-bloc-image img {
    width:100%;
}

/* Learning section */

.learning {
    display:flex;
    flex-direction:column;
    background-color:lightgray;
}

.learning-title {
    text-align:center;
}

.learning-title h2 {
    margin-top: 32px;
    margin-bottom:0;
}


.learning-grid {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin: 0 56px;
   
}

.learning-bloc {
    width:30%;
    margin:32px 16px;
    background-color:white;
}

.learning-image {
    display:flex;
    flex-direction:column;
}

.learning-text{
    padding-bottom:24px;
    margin-left:16px;
}

.learning-text h3{
  margin-top:16px;
}
